
<footer>
        <hr style="margin-top:1rem; margin-bottom:0; border:0; ">
<p class="footerText">LangridgeOccupationalTherapy  Copyright 2017 - <em> Powered By ChrisCullenWeb.com </em>  </p>


</footer>


</div> 

</body>

</html>