<!DOCTYPE html>
<html>

    <head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                        <link rel="stylesheet" href="/stylesheets/main.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <title>NewSite</title>
     </head>
    
    
    <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                     <div class="navbar-header"> 
              <button type="button" style="margin-left:90%;" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
              </button>    
              <a class="navbar-brand"  href="/"><img style=" border-radius:10%; z-index:9; position: absolute; top: -5px; left: -5px;  max-width:150px; max-height:100px" src="https://previews.123rf.com/images/lenm/lenm1011/lenm101100027/8129505-A-Small-Group-of-Kids-Jumping-Happily-Stock-Photo-kids-cartoon-children.jpg"></a> 
                     </div>
            <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav" style="font-size:2rem; font-weight:600; margin-left:120px;">
                <li>    <a href="/">Home</a>     </li>
                <li>    <a href="/about">About Us</a>     </li>
                 <li>    <a href="/gallery">Gallery</a>     </li>
                 <li>    <a href="/studies">Clinical Studies</a>     </li>
                <li>    <a href="/contact">Contact</a>     </li>
            </ul>
            <ul class="navbar-right">
                <li style="list-style:none; margin-top: 1.5rem; margin-right:2rem; font-size:1.2rem">    <em>Functional Movement Development Specialists</em>   </li>

            </ul>
          </div>
                </div>

           
        </nav>
