<% include ./partials/header.ejs %>



<h2> Who We Are?</h2>

<p class="meText"> <img class="mePic" src=" https://images.pexels.com/photos/213117/pexels-photo-213117.jpeg?h=350&auto=compress&cs=tinysrgb">
Hi Im James, owner of Fuctional Movement4 kids. I am a Teaching Support / youth football development coach and  manager of Wimbledon FC under 14's.<br></br>
Having worked in the SouthWest london youth football and school system for many years I noticed the growing demand of childrens motor development that isnt being catered for.
With over 10 years of experience working with youth Motor Skill development and accreditation from FC Schools Referee etc.<br></br> I have created a curriculum of functional movement that can be suited to children at all stages of development, 
ensuring they get the attention and coaching they need to develop essential functional movements they will need throughout their lives.
</p>

<div class="clearfix"> </div>

<% include ./partials/footer.ejs %>
