<% include ./partials/header.ejs %>


<h1 class="galleryTitle"> Meet our Community  </h1>

         <div class="galleryGrid">
             <div class ="responsive">
               <div class="gallery">
                     <img src = "https://images.pexels.com/photos/191034/pexels-photo-191034.jpeg?h=350&auto=compress&cs=tinysrgb">
                         <div class="desc">   Making progress   </div>
               </div>
          </div> 
            
        <div class="responsive">
             <div class="gallery">
                            <img src = " https://images.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg?h=350&auto=compress&cs=tinysrgb">
                                                        <div class="desc"> Training Hard                     </div>
            </div>
                    </div>    
                    <div class="responsive">

            <div class="gallery"> 
                            <img src = " https://images.pexels.com/photos/159823/kids-girl-pencil-drawing-159823.jpeg?h=350&auto=compress&cs=tinysrgb">
                                  <div class="desc">
                                           Another success story    </div>
             </div>
             </div>
                   
          <div class="responsive">
                     <div class="gallery">
                      <img src = "https://images.pexels.com/photos/12312/pexels-photo-12312.jpeg?h=350&auto=compress&cs=tinysrgb">
                     <div class="desc">
                        Jenny and the gang
                     </div>
            </div>
            </div>
            
        <div class="responsive">
                        <div class="gallery">
                            <img src = "https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?h=350&auto=compress&cs=tinysrgb">
                            <div class="desc">
                        Roger going hard
                     </div>
            </div>

            
        </div>    
            
    <div class="responsive">
                 <div class="gallery">
                            <img src = " https://images.pexels.com/photos/274422/pexels-photo-274422.jpeg?h=350&auto=compress&cs=tinysrgb">
                            <div class="desc">
                        Bob and the gang
                     </div>
            </div>
    </div>        
           


        </div>
    
    
    </div>
    
</div>
</div>
    <div class="clearfix"> 
    </div>
    <br></br>

  <p> Some of our success stories and important members of our community.
    We work with local schools workshops and sports clubs ensuring a holistic strategy of development in a nurturing community environment.</p>




<% include ./partials/footer.ejs %>
