<% include ./partials/header.ejs %>


<h1 class="homeTitle"> Functional Movement 4 Kids! </h1>

    <h2 class="homeH2"> Occupational Therapy Program</h2>

   <p class="homeP">            <img class="homeImg2" src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8DzuZO4CHsOz7d7NOACEkbYoi0dyr3faG-wf4D091e7AydmHV">
We are a team of Occupational Therapists who have specialised in working with children.

        We are committed to helping each child to develop learning and life skills to help them participate and experience success where there are challenges
        they are facing.
        We encourage you to experience the difference that Occupational Therapy can make for your child.
         </p>      
        
         <h3 class="homeH3" >Treatment Options</h3>
         <ul class="homeList">
         <li> DIR/ Floortime based treatments – for facilitating all levels of development </li>   
<li>Interventions to improve sensory processing including Sensory Integration based clinic treatment, How does your Engine Run (Alert Program), Wilbarger therapressure protocol, Therapeutic Listening, Vestibular rehabilitation/ Astronaut Program </li>
<li>Interventions to improve motor control including neurodevelopmental treatments and praxis treatment </li>
<li>Cogmed Working Memory Training – for improved working memory and attentions </li>
<li>Interactive Metronome – for improved attention, coordination and rhythmicity </li>
<li> Functional Skills training – self cares, toileting, handwriting etc.</li>

         </ul>
        
<div class="clearfix"></div>


<div class="homeP2"> <img class="homeImg2" src = " https://creativityinhealthcare.files.wordpress.com/2012/07/ot.gif">
<p style="margin-left:0;">We provide focused and effective children’s occupational therapy, to provide children with skills for life. We asses our kids abilities so that we can offer them optimal solutions to be able to optimsie their movement and physical functioning. 
We use: </p>

    <ul class="homeList2">
            <li>Expert knowledge of child development (physical and cognitive). </li> 
        <li> Understanding of the activities and roles a child participates in, from sporting to social activities.</li> 
        <li> School centred service model that makes sure Schools are involved and informed every step along the way. </li>

    </ul>
    <p style="margin-left:0;">
        We believe that it is essential to provide support for children, if they are having difficulties in areas of their development.<br>
        Through being supported to achieve skills and learn strategies, they receive important messages such as:<br>
        “I can improve when I practice or get taught another way”<br>
        “I can ask for help” “I can succeed”. <br></br>
        This is important to help shape a child’s self concept and counter the negative messages of “I can’t….” that they may otherwise feel as they compare their performance to peers.<br>
      It is an amazing feeling when we finish a block of therapy with a child, and know that we have been able to make a major difference in one or more areas of their life, and that they have loved their time coming to Grow On Children’s Occupational Therapy.
   </p>

</div>

    
<div class="clearfix"> </div>





<% include ./partials/footer.ejs %>
