<% include ./partials/header.ejs %>

<h1 class="studyTitle"> Clinical Sucess In Child Motor Development</h1>

<div class="studyP">
        <img class="studyImg" src = "https://cdn.pixabay.com/photo/2014/12/10/21/01/doctor-563428__340.jpg">

    <p>Our work in child development is based on years of proven academic research into the sucess of functional movement training.</p>

   <p> Below are some studies which highlight the sucesses of functional movement and how functional movement can help you! </p>

</div>
<div class="clearfix"></div>

<div class="studies">
    <h5 class="studiesName" >Benefits of Therapy on Movement Impaired</h3>
    <a href="http://pediatrics.aappublications.org/content/113/2/305.short">Click Here for Study</a>
</div>
<div class="studies">
    <h5 class="studiesName">Benefits of Early interventions</h3>
    <a href="http://www.sciencedirect.com/science/article/pii/S107190919880020X">Click Here for Study</a>
</div>
<div class="studies">
    <h5 class="studiesName" >A Look into Motor skill Development and best practices</h3>
    <a href="http://journals.humankinetics.com/doi/abs/10.1123/apaq.21.3.197">Click Here for Study</a>
</div>
<div class="studies">
    <h5 class="studiesName" >Benefits of Therapy on Movement Impaired</h3>
    <a href="http://pediatrics.aappublications.org/content/113/2/305.short">Click Here for Study</a>
</div>
<div class="studies">
    <h5 class="studiesName">Benefits of Early interventions</h3>
    <a href="http://www.sciencedirect.com/science/article/pii/S107190919880020X">Click Here for Study</a>
</div>
<div class="studies">
    <h5 class="studiesName" >A Look into Motor skill Development and best practices</h3>
    <a href="http://journals.humankinetics.com/doi/abs/10.1123/apaq.21.3.197">Click Here for Study</a>
</div>
 

<% include ./partials/footer.ejs %>
